@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
@media (max-width: 640px) {
  /* Mobile styles */
  .container {
    padding: 1rem;
  }

  textarea {
    font-size: 1rem;
  }

  button {
    font-size: 1rem;
  }

  .text-3xl {
    font-size: 2rem;
  }

  .w-12 {
    width: 3rem;
    height: 3rem;
  }

  .w-8 {
    width: 2rem;
    height: 2rem;
  }

  .ml-12 {
    margin-left: 1.5rem;
  }
}
